Package: com.dannyglover.nolongpresskeys
Name: NoLongPressKeys
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Disable the long press key actions on your iOS keyboard.
Depiction: http://dannyglover.github.io/repo/NoLongPressKeys/index.html
Maintainer: Danny Glover
Author: Danny Glover
Section: Tweaks
Homepage: http://www.twitter.com/infusedreams
Version: 1.0.0
Installed-Size: 120
